<div>
  <h1 class="mat-display-3 title">Standings</h1>
</div>

<table>
  <thead>
    <th>Position</th>
    <th>Club</th>
    <th>W</th>
    <th>L</th>
    <th>D</th>
    <th>GF</th>
    <th>GA</th>
    <th>GD</th>
    <th>Points</th>
  </thead>
  <tbody *ngFor="let row of leagueTable; let i=index">
    <td>{{i + 1}}</td>
    <td>{{row.teamId.name}}</td>
    <td>{{row.wins}}</td>
    <td>{{row.loses}}</td>
    <td>{{row.draws}}</td>
    <td>{{row.goalsFor}}</td>
    <td>{{row.goalsAgainst}}</td>
    <td>{{row.goalsFor - row.goalsAgainst}}</td>
    <td>{{row.points}}</td>
  </tbody>
</table>