<div>
    <h1 class="mat-display-3 title">League Statistics</h1>
</div>

<div class="container">
    <div class="box">
        <h1>Goals Scored</h1>
        <div echarts [autoResize]="true" [options]="goals" class="box"></div>
    </div>

    <div class="box">
        <h1>Goals Assisted</h1>
        <div echarts [autoResize]="true" [options]="assists" class="box"></div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h1>Goals Per Club</h1>
        <div echarts [options]="clubGoals" class="box"></div>
    </div>

    <div class="box">
        <h1>Goals vs Miss scenarios</h1>
        <div echarts [options]="goalvMiss" class="box"></div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h1>Transfers</h1>
        <div echarts [options]="transferNumbers" class="box"></div>
    </div>
</div>