<div>
    <h1 class="mat-display-3 title">League Statistics</h1>
</div>

<div class="container">
    <div class="box">
        <h1>Teams with most goals scored in 1 match</h1>
        <div echarts [autoResize]="true" [options]="matchesMostGoals" class="box"></div>
    </div>

    <div class="box">
        <h1>Teams with most goals score in home matches</h1>
        <div echarts [autoResize]="true" [options]="top3HomeTeamsGoals" class="box"></div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h1>Goals Per Club</h1>
        <div echarts [options]="clubGoals" class="box"></div>
    </div>

    <div class="box">
        <h1>Teams with most goals score in away matches</h1>
        <div echarts [autoResize]="true" [options]="top3AwayTeamsGoals" class="box"></div>
    </div>
</div>