label{
    display: inline-block;
    float: left;
    clear: left;
    width: 30%;
    text-align: center;
}

input {
  display: inline-block;
}

div {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

button {
    background-color: blueviolet;
    color: white;
}

table {
    text-align: center;
}

