label{
    display: inline-block;
    clear: left;
    width: 30%;
    text-align: left;
}

.text {
  display: inline-block;
  text-align: center;
}

.content {
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.datepicker {
    display: inline;
}

/* button {
    background-color: blueviolet;
    color: white;
} */