<mat-card>
    <mat-card-title>Signup</mat-card-title>
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
        <mat-form-field appearance="fill">
            <mat-label>Enter First Name</mat-label>
            <input matInput placeholder="John" required name="firstName" ngModel #firstNameInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter Last Name</mat-label>
            <input matInput placeholder="Doe" required name="lastName" ngModel #lastNameInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter Username</mat-label>
            <input matInput placeholder="username111" required name="username" ngModel #usernameInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter Email</mat-label>
            <input matInput placeholder="vid@gmail.com" required name="email" ngModel #emailInput>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <button type="submit" [disabled]="registerForm.invalid || showLoading" mat-raised-button color="primary" name="button">Register</button>
        <span *ngIf="showLoading">Loading...</span>
    </form>
</mat-card>
