<div class="title">
    <h1 class="mat-display-3 title">Profile</h1>
</div>

<div class="image">
    <img src="../../assets/images/user-profile.svg" alt="profile_picture">
</div>
<mat-card>
    <mat-card-title>
        Update Profile
    </mat-card-title>
    <mat-card-content>
        <a routerLink="/profile/change-details">Change Details</a>
        <a href="">Reset Password</a>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Delete Profile
    </mat-card-title>
    <mat-card-content>
        <a href="" class="delete">Delete Profile</a>
    </mat-card-content>
</mat-card>