<mat-toolbar color="primary" class="navbar">
  <div><a routerLink="/home"><img src="../assets/images/logo.png" alt="Logo" class="logo"></a></div>
  <div class="routes">
      <a routerLink="/home">Home</a>
      <a routerLink="/results">Results</a>
      <a routerLink="/league-table">Table</a>
      <a routerLink="/fixtures">Fixtures</a>
      <a routerLink="/statistics">Statistics</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/admin">Admin</a>
      <a routerLink="/sign-up">Sign Up</a>
      <a routerLink="/login">Log In</a>
      <a (click)="onLogOut()">Log Out</a>


  </div>
  <button (click)="toggle()" class="hamburger">
      <img *ngIf="showMenu" src="../../assets/images/hamburger_button.svg" alt="menu" class="menuIcon">
      <img *ngIf="showMenu == false" src="../../assets/images/close_button.svg" alt="close" class="closeIcon">
  </button>
</mat-toolbar>
