<mat-toolbar color="primary" class="navbar">
  <div><a routerLink="/home"><img src="../assets/images/logo.png" alt="Logo" class="logo"></a></div>
  <div class="routes">
      <a routerLink="/home">Home</a>
      <a [hidden]="isAdmin" routerLink="/results">Results</a>
      <a [hidden]="isAdmin" routerLink="/league-table">Table</a>
      <a [hidden]="isAdmin" routerLink="/fixtures">Fixtures</a>
      <a [hidden]="isAdmin" routerLink="/statistics">Statistics</a>
      <a routerLink="/profile">Profile</a>
      <a [hidden]="!isAdmin" routerLink="/admin">Admin</a>
      <a [hidden]="!isTeamManager" routerLink="/team-manager">Team Manager</a>
      <a [hidden]="!isNone" routerLink="/sign-up">Sign Up</a>
      <a [hidden]="!isNone" routerLink="/login">Log In</a>
      <a [hidden]="isNone" (click)="onLogOut()">Log Out</a>


  </div>
  <button (click)="toggle()" class="hamburger">
      <img *ngIf="showMenu" src="../../assets/images/hamburger_button.svg" alt="menu" class="menuIcon">
      <img *ngIf="showMenu == false" src="../../assets/images/close_button.svg" alt="close" class="closeIcon">
  </button>
</mat-toolbar>
