mat-card {
    width: 60%;
    margin: 5% auto;
    text-align: center;
    display: flex;
    align-items: center;
}

div {
    /* display: inline-block; */
    margin: 0 auto;
}

img {
    width: 50%;
}

h1 {
    padding-top: 2rem;
}

.score {
    font-size: 2rem;
    margin-top: 1%;
}

.winner {
    color: lightgreen;
}

.loser {
    color: red;
}

.tie {
    color: lightskyblue;
}

.title {
    margin: 3% auto;
    text-align: center;
}