fieldset {
    margin: 6%;
}

legend {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

h2 {
    margin-top: 2%;
    margin-left: 4%;
}

input {
    width: 96%;
    border:2px solid #aaa;
    border-radius:4px;
    margin: 2%;
    margin-top: 1%;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
}

input:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

button {
    margin-left: 4%;
}