<form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
    <fieldset>
        <legend>User Password Managment</legend>
        <div>
            <h2>Enter the email address of the user you want to reset the password for</h2>
            <input type="email" name="reset-password-email" placeholder="Enter email (example@gmail.com)" required ngModel>
            <button type="submit" mat-icon-button color="primary">Submit <mat-icon>forward</mat-icon></button>
        </div>
    </fieldset>
</form>