<div className="home">
    <div className="userTitleContainer">
        <h1>Personal Chat</h1>
    </div>

    <div className='chatMessageContainer'> -->
        <!-- {//loop through the chatDisplay -->
        <div *ngFor="let item of display" class='singleMessageContainer'> -->
            <h4>Anonymus: </h4>
            <p>{{item}}</p>
        </div>

    <div className='chatMessageContainer'> -->
        <!-- {//loop through the chatDisplay -->
        <div className='chatMessageActions'>
            <input className='chatMessageInput' ngModel (ngModelChange)="setSendMessage($event)" placeholder='Type your message here...'>
            <button className='buttonSendChatMessage userAddButton' (click)="send()">Send Message</button>
        </div>
    </div>
</div>