<div class="toolbar">
    <form>
        <input name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="searchUsers(searchInput.value)" type="search" placeholder="Search users...">
     </form>
      <button type="button" class="newUser" (click)="openNewUser()">
        + New User
      </button>
      <button routerLink="reset-user-password" class="resetPassword">Reset User Password</button>
      <button type="button" (click)="refreshPage()" class="refresh"><mat-icon>refresh</mat-icon></button>
</div>

<div class="table">
    <table>
        <thead>
            <th>Photo</th>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody *ngFor="let appUser of users">
            <tr>
                <td>
                    <img height="40" width="40" src="{{appUser?.profileImageUrl}}" alt="">
                </td>
                <td>{{appUser?.userId}}</td>
                <td>{{appUser?.firstName}}</td>
                <td>{{appUser?.lastName}}</td>
                <td>{{appUser?.username}}</td>
                <td>{{appUser?.email}}</td>
                <td>
                    <span [hidden]="!appUser?.active" class="success">Active</span>
                    <span [hidden]="appUser?.active" class="error">Inactive</span>
                </td>
                <td>
                    <button (click)="openEditUser(appUser)" id="openUserInfo"><mat-icon>edit</mat-icon></button>
                    <button (click)="onDeleteUser(appUser.username)"><mat-icon>delete</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
