<div class="title">
    <h1 class="mat-display-3 title">My Team</h1>
</div>
<div *ngIf="!team" class="main-card">
    <mat-card>
        <div class="sub-cardl">
            <mat-card-title>
                You do not have a team yet
            </mat-card-title>
            <mat-card-subtitle>
                If you wish to participate in this league you must create a team and add players to it. The start of your journey is just a click away.
            </mat-card-subtitle>
        </div>
        <div class="sub-cardr">
            <a routerLink="create-my-team">
                <mat-icon>add_circle</mat-icon>
            </a>
        </div>
    </mat-card>
</div>

<div *ngIf="team">
    <div class="toolbar">
        <form>
            <input name="searchTerm" #searchInput="ngModel" ngModel (ngModelChange)="searchUsers(searchInput.value)" type="search" placeholder="Search users...">
         </form>
          <button type="button" class="newUser" (click)="openAddPlayer()">
            + Add Player
          </button>
    </div>
    
    <div class="table">
        <table>
            <thead>
                <th>Photo</th>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Remove</th>
            </thead>
            <tbody *ngFor="let appUser of players">
                <tr>
                    <td>
                        <img height="40" width="40" src="{{appUser?.profileImageUrl}}" alt="">
                    </td>
                    <td>{{appUser?.userId}}</td>
                    <td>{{appUser?.firstName}}</td>
                    <td>{{appUser?.lastName}}</td>
                    <td>{{appUser?.username}}</td>
                    <td>{{appUser?.email}}</td>
                    <td>
                        <button (click)="onRemovePlayer(appUser.username)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>